nav {
    height: 100%;
    width: 1200px;
    max-width: 1200px;
    margin: auto;
}
.header_up {
    background: rgb(235, 235, 235);
    min-height: 40px;
    height: 40px;
}

.header_middle {
    background: rgb(255, 255, 255);
    min-height: 60px;
    height: 60px;
    /*border-color: rgb(240, 240, 240);*/
}

.header_middle ul li{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 100%;
    min-width: 200px;
}

.header_middle ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_down {
    background: #CF2F2FFF;
    min-height: 40px;
    height: 40px;
}

.my_ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.my_li {
    display: flex;
    min-width: 200px;
    justify-content: center;
}
.my_li:hover{
    background: rgb(168, 0, 0);
}

.header_text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    height: 40px;
    width: 100%;
    font-family: 'Chakra Petch', sans-serif;
}
.header_text:hover{
    text-decoration: underline;
}

.header_middle_text{
    display: flex;
    align-items: center;
    font-size: x-large;
    font-style: italic;
}

    /* Cabinet button*/

.cabinet_button_text{
    color: rgb(168, 0, 0);
    display: flex;
    height: 100%;
    width: 150px;
    align-items: center;
    justify-content: right;
}

.cabinet_button:hover{
    text-decoration: underline;
    color: rgb(168, 0, 0);
}

.cabinet_button_image{
    display: flex;
    height: 42px;
    align-items: center;
    margin-left: 5px;

}

.cabinet_button{
    font-size: large;
    float: right;
    display: flex;
    height: 60px;
    /*width: 150px;*/
    justify-content: space-around;
    align-items: center;
    cursor: pointer
}

.logo{
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: bolder;
    font-style: italic;
    color: rgb(168, 0, 0);
}

    /*Dropdown menu*/

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: inherit;
}

.dropdown-content {
    display: none;
    width: 100%;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: medium;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content a:hover {
    background-color: #dddddd
}

.show {
    display: block;
}
