* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 30px;

    box-shadow: 0 0 10px #00000020;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    background-color: #fcfcfc;
    border-radius: 2px;

    outline: none;
}

.button {
    padding: 10px;
    margin: 10px 0;
    background: #e3e3e3;
    cursor: pointer;
    border: unset;
    /*font-weight: bold;*/
    font-size: large;
    color: #000000;
}
.button:hover{
    background: #bdbdbd;
}

.errors_block_good {
    color: green;
    font-weight: bold;
}

.errors_block_bad {
    color: red;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.a_reg{
    color: #ce6767;
    font-weight: bold;
}

.p_reg{
    margin: 10px 0;
}

.a_reg:hover{
    color: #d01212;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: white/*#ebebeb*/;
}


body {
    display: grid;
}

li{
    list-style-type: none;
}
ul {
    padding-left: 0;
}

.grid_area{
    display: flex;
    justify-content: center;
    align-items: baseline;
    /*flex-direction: column;*/
    margin: auto;
    min-height: 100vh;
    height: max-content;
    width: 1200px;
    max-width: 1200px;
    /*background-color: #fcfcfc;*/
    flex-wrap: wrap;
}

.logout {
    display: flex;
    height: 75px;
    background-color: #2965BF;
    border-left: 0;
    border-right: 0;
    border-color: #4079cfab;
}



/*
button {
    display: flex;
    height: 75px;
    background-color: #2965BF;
    border-left: 0;
    border-right: 0;
    border-color: #4079cfab;
}

button:hover {
    background-color: #193d72;
}

.background {
    background-color: #ffffff91;
}

.workspace {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
    width: 1170px;
    min-height: calc(100vh - 100px);
    height: auto;
}

.text_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    text-decoration-line: underline;
    color: #2965BF;
}

.text {
    text-align: justify;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.button_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    width: inherit;
    height: 100%;
}

.button_text:hover {
    color: rgb(255, 255, 0);
}*/
